:root {
  --scrollbar-size: 20px;
  --max-width: 768px;
  transition: all 0.2s ease;
  --y-from: 0;
  --y-to: 0;
  --item-h: 50px;
  --speed: 0.25s;
}

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  /* border: 1px solid #eee; */
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
}

html {
  touch-action: manipulation;
  scroll-behavior: smooth;
  scrollbar-color: darkblue blue !important;
  scrollbar-width: var(--scrollbar-size) !important;
}

body {
  margin: 20px;
  padding: 0;
  box-sizing: border-box;
  background: white;
  color: black;
  font-size: 1.25rem;
}

/**************/
/* Columns ****/
/**************/

section.wrapper {
  position: relative;
  height: 50px;
  width: 150px;
  border: 1px solid grey;
  overflow: hidden;
}

ul.col {
  display: flex;
  flex-direction: column-reverse;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.col:nth-child(1) {
  transform: translateY(-100px);
}

ul.col:nth-child(2) {
  transform: translateY(-150px);
}

ul.col:nth-child(3) {
  transform: translateY(-200px);
}

ul.col > li {
  height: 50px;
  width: 50px;
  animation-duration: 2.5s;
  animation-name: animate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

ul.col > li:nth-child(1) {
  animation-delay: calc(var(--speed) * 1);
  --y-from: calc(var(--item-h) * -5);
  --y-to: calc(var(--item-h) * 5);
}

ul.col > li:nth-child(2) {
  animation-delay: calc(var(--speed) * 2);
  --y-from: calc(var(--item-h) * -4);
  --y-to: calc(var(--item-h) * 6);
}

ul.col > li:nth-child(3) {
  animation-delay: calc(var(--speed) * 3);
  --y-from: calc(var(--item-h) * -3);
  --y-to: calc(var(--item-h) * 7);
}

ul.col > li:nth-child(4) {
  animation-delay: calc(var(--speed) * 4);
  --y-from: calc(var(--item-h) * -2);
  --y-to: calc(var(--item-h) * 8);
}

ul.col > li:nth-child(5) {
  animation-delay: calc(var(--speed) * 5);
  --y-from: calc(var(--item-h) * -1);
  --y-to: calc(var(--item-h) * 9);
}

ul.col > li:nth-child(6) {
  animation-delay: calc(var(--speed) * 6);
  --y-from: calc(var(--item-h) * 0);
  --y-to: calc(var(--item-h) * 10);
}

ul.col > li:nth-child(7) {
  animation-delay: calc(var(--speed) * 7);
  --y-from: calc(var(--item-h) * 1);
  --y-to: calc(var(--item-h) * 11);
}

ul.col > li:nth-child(8) {
  animation-delay: calc(var(--speed) * 8);
  --y-from: calc(var(--item-h) * 2);
  --y-to: calc(var(--item-h) * 12);
}

ul.col > li:nth-child(9) {
  animation-delay: calc(var(--speed) * 9);
  --y-from: calc(var(--item-h) * 3);
  --y-to: calc(var(--item-h) * 13);
}

ul.col > li:nth-child(10) {
  animation-delay: calc(var(--speed) * 10);
  --y-from: calc(var(--item-h) * 4);
  --y-to: calc(var(--item-h) * 14);
}

@keyframes animate {
  from {
    transform: translateY(var(--y-from));
  }
  to {
    transform: translateY(var(--y-to));
  }
}

/***********/
/* Main ****/
/***********/

main > p {
  margin: 0 0 20px 0;
}

main > p:last-child {
  margin: 0;
}

h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: black;
  letter-spacing: 1px;
  margin: 10px 0;
}

/**************/
/* Layout *****/
/**************/

.h-align, .v-align, ul.col > li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.h-align {
  flex-direction: row;
}

.v-align {
  flex-direction: column;
}

.w-max-768 {
  max-width: 768px;
}

.m-auto {
  margin: 0 auto;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.w-100vw {
  width: 100vw;
}

.h-100vh {
  height: 100vh;
}

.text-center {
  text-align: center;
}

/**********/
/* Footer */
/**********/

footer {
  font-size: 1.125rem;
}

footer a {
  color: black;
  font-weight: bold;
  transition: all 0.2s ease;
}

footer a:hover {
  color: black;
  transition: all 0.2s ease;
  text-decoration: none;
}

.new-tab-icon::after {
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900; 
  content: "\f35d";
  margin-left: 5px;
}

/*****************/
/* Media queries */
/*****************/

@media only screen and (max-width: 768px) {
  :root {
    transition: all 0.2s ease;
  }
  h1 {
    font-size: calc(1rem + 3vw);
  }
}

/********************/
/* Margin & Padding */
/********************/

.m-0 {
  margin: 0;
}

.m-t-100 {
  margin-top: 100px;
}

.p-30 {
  padding: 30px;
}

.p-20 {
  padding: 20px;
}

.p-10 {
  padding: 10px;
}