:root {
  --scrollbar-size: 20px;
  --max-width: 768px;
  transition: all 0.2s ease;
  --y-from: 0;
  --y-to: 0;
  --item-size: 100px;
  --speed: 0.5s;
}

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  /* border: 1px solid #eee; */
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
}

html {
  touch-action: manipulation;
  scroll-behavior: smooth;
  scrollbar-color: darkblue blue !important;
  scrollbar-width: var(--scrollbar-size) !important;
}

body {
  margin: 20px;
  padding: 0;
  box-sizing: border-box;
  background: white;
  color: black;
  font-size: 4rem;
}

/**************/
/* Columns ****/
/**************/

main.wrapper {
  position: relative;
  height: var(--item-size);
  width: calc(var(--item-size) * 3);
  border: 1px solid #666;
  overflow: hidden;
}

section.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

section.shadow {
  position: absolute;
  top: 0;
  left: -50%;
  width: 200%;
  height: 100%;
  box-shadow: 0 10px 20px 5px #00000066 inset, 0 -10px 20px 5px #00000066 inset;
}

ul.col {
  display: flex;
  flex-direction: column-reverse;
  margin: 0;
  padding: 0;
  list-style: none;
  animation-name: slidein;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  transform: translateY(0);
}

@keyframes slidein {
  from { 
    transform: translateY(-100%); 
    opacity: 0;
  }
  to { 
    transform: translateY(0); 
    opacity: 1;
  }
}

ul.col:nth-child(2) {
  border-left: 1px dashed #666;
  border-right: 1px dashed #666;
}

ul.col > li {
  /* transform: translateY(-500px); */
  height: var(--item-size);
  width: var(--item-size);
  animation-duration: calc(var(--speed) * 10);
  animation-name: animate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes animate {
  from { transform: translateY(var(--y-from)); }
  to { transform: translateY(var(--y-to)); }
}

ul.col > li:nth-child(1) {
  animation-delay: calc(var(--speed) * 1);
  --y-from: calc(var(--item-size) * -10);
  --y-to: calc(var(--item-size) * 0);
}

ul.col > li:nth-child(2) {
  animation-delay: calc(var(--speed) * 2);
  --y-from: calc(var(--item-size) * -9);
  --y-to: calc(var(--item-size) * 1);
}

ul.col > li:nth-child(3) {
  animation-delay: calc(var(--speed) * 3);
  --y-from: calc(var(--item-size) * -8);
  --y-to: calc(var(--item-size) * 2);
}

ul.col > li:nth-child(4) {
  animation-delay: calc(var(--speed) * 4);
  --y-from: calc(var(--item-size) * -7);
  --y-to: calc(var(--item-size) * 3);
}

ul.col > li:nth-child(5) {
  animation-delay: calc(var(--speed) * 5);
  --y-from: calc(var(--item-size) * -6);
  --y-to: calc(var(--item-size) * 4);
}

ul.col > li:nth-child(6) {
  animation-delay: calc(var(--speed) * 6);
  --y-from: calc(var(--item-size) * -5);
  --y-to: calc(var(--item-size) * 5);
}

ul.col > li:nth-child(7) {
  animation-delay: calc(var(--speed) * 7);
  --y-from: calc(var(--item-size) * -4);
  --y-to: calc(var(--item-size) * 6);
}

ul.col > li:nth-child(8) {
  animation-delay: calc(var(--speed) * 8);
  --y-from: calc(var(--item-size) * -3);
  --y-to: calc(var(--item-size) * 7);
}

ul.col > li:nth-child(9) {
  animation-delay: calc(var(--speed) * 9);
  --y-from: calc(var(--item-size) * -2);
  --y-to: calc(var(--item-size) * 8);
}

ul.col > li:nth-child(10) {
  animation-delay: calc(var(--speed) * 10);
  --y-from: calc(var(--item-size) * -1);
  --y-to: calc(var(--item-size) * 9);
}

/***********/
/* Main ****/
/***********/

main > p {
  margin: 0 0 20px 0;
}

main > p:last-child {
  margin: 0;
}

h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: black;
  letter-spacing: 1px;
  margin: 10px 0;
}

/**************/
/* Layout *****/
/**************/

.h-align, .v-align, ul.col > li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.h-align {
  flex-direction: row;
}

.v-align {
  flex-direction: column;
}

.w-max-768 {
  max-width: 768px;
}

.m-auto {
  margin: 0 auto;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.w-100vw {
  width: 100vw;
}

.h-100vh {
  height: 100vh;
}

.text-center {
  text-align: center;
}

/**********/
/* Footer */
/**********/

footer {
  font-size: 1.125rem;
}

footer a {
  color: black;
  font-weight: bold;
  transition: all 0.2s ease;
}

footer a:hover {
  color: black;
  transition: all 0.2s ease;
  text-decoration: none;
}

.new-tab-icon::after {
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900; 
  content: "\f35d";
  margin-left: 5px;
}

/*****************/
/* Media queries */
/*****************/

@media only screen and (max-width: 768px) {
  :root {
    transition: all 0.2s ease;
  }
  h1 {
    font-size: calc(1rem + 3vw);
  }
}

/********************/
/* Margin & Padding */
/********************/

.m-0 {
  margin: 0;
}

.m-t-100 {
  margin-top: 100px;
}

.p-30 {
  padding: 30px;
}

.p-20 {
  padding: 20px;
}

.p-10 {
  padding: 10px;
}