:root {
  --scrollbar-size: 20px;
  --max-width: 768px;
  transition: all 0.2s ease;
}

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  border: 1px solid #eee;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
}

html {
  touch-action: manipulation;
  scroll-behavior: smooth;
  scrollbar-color: darkblue blue !important;
  scrollbar-width: var(--scrollbar-size) !important;
}

body {
  margin: 20px;
  padding: 0;
  box-sizing: border-box;
  background: white;
  color: black;
  font-size: 1.25rem;
}

/**************/
/* Columns ****/
/**************/

section.wrapper {
  position: relative;
  height: 50px;
  width: 150px;
  overflow: hidden;
}

ul.col {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.col > li {
  /* padding: 5px 10px; */
  height: 50px;
  width: 50px;
}

main > p {
  margin: 0 0 20px 0;
}

main > p:last-child {
  margin: 0;
}

h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: black;
  letter-spacing: 1px;
  margin: 10px 0;
}

/**************/
/* Layout *****/
/**************/

.h-align, .v-align, ul.col > li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.h-align {
  flex-direction: row;
}

.v-align {
  flex-direction: column;
}

.w-max-768 {
  max-width: 768px;
}

.m-auto {
  margin: 0 auto;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.w-100vw {
  width: 100vw;
}

.h-100vh {
  height: 100vh;
}

.text-center {
  text-align: center;
}

/**********/
/* Footer */
/**********/

footer {
  font-size: 1.125rem;
}

footer a {
  color: black;
  font-weight: bold;
  transition: all 0.2s ease;
}

footer a:hover {
  color: black;
  transition: all 0.2s ease;
  text-decoration: none;
}

.new-tab-icon::after {
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900; 
  content: "\f35d";
  margin-left: 5px;
}

/*****************/
/* Media queries */
/*****************/

@media only screen and (max-width: 768px) {
  :root {
    transition: all 0.2s ease;
  }
  h1 {
    font-size: calc(1rem + 3vw);
  }
}

/********************/
/* Margin & Padding */
/********************/

.m-0 {
  margin: 0;
}

.p-30 {
  padding: 30px;
}

.p-20 {
  padding: 20px;
}

.p-10 {
  padding: 10px;
}