
.leader-board > ul {
  list-style: none;
  margin: 0;
  padding: 0 10px;
  width: fit-content;
}

.leader-board > ul > li {
  font-size: 1rem;
  line-height: 2;
  white-space: nowrap;
  padding-right: 15px;
  letter-spacing: 2px;
}

.leader-board > ul > li:not(:first-child) {
  border-top: 2px solid #333;
}

.scrollable {
  max-height: 225px;
  overflow-y: auto;
  padding: 5px 15px;
  background: #444;
  box-shadow: 0 5px 15px 1px #00000066;
}