:root {
  --scrollbar-size: 20px;
  --max-width: 768px;
  --light-grey: hsl(218, 18%, 80%);
  --mid-light-grey: hsl(218, 17%, 59%);
  --mid-grey: hsl(218, 21%, 31%);
  --mid-dark-grey: hsl(218, 25%, 25%);
  --dark-grey: hsl(218, 28%, 21%);
  --deep-dark-grey: hsl(218, 30%, 17%);
  --deep-grey: hsl(218, 32%, 13%);
  transition: all 0.25s ease;
}

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  line-height: 1.5;
  /* border: 1px solid #999; */
}

html {
  touch-action: manipulation;
  scroll-behavior: smooth;
  scrollbar-color: #555 #888 !important;
  scrollbar-width: var(--scrollbar-size) !important;
  user-select: none;
}

body {
  margin: 20px;
  padding: 0;
  box-sizing: border-box;
  background: var(--deep-grey);
  color: #fff;
  min-height: 100vh;
  letter-spacing: 4px;
  font-weight: normal;
  font-family: 'Roboto Condensed', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/***********/
/* Scoring */
/***********/

.scoring > header > h2 {
  font-size: 1.325rem;
  font-weight: 800;
  text-align: center;
}

table {
  border-collapse: collapse;
}

table td {
  padding: 10px 5px;
  letter-spacing: 1px;
}

tbody > tr:not(:last-child) {
  border-bottom: 2px solid var(--deep-grey);
}

tbody > tr > td:first-child {
  font-size: 1.5rem;
  text-shadow: 0 2px 6px #000;
}

tbody > tr > td:last-child {
  font-size: 1.125rem;
  text-shadow: 0 2px 2px #000;
  padding: 10px 5px 10px 10px;
}

/***********/
/* Main ****/
/***********/

main > p {
  margin: 0 0 20px 0;
}

main > p:last-child {
  margin: 0;
}

article > header > h1, 
article > header > h2 {
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 1px;
  margin: 10px 0;
  text-shadow: 0 3px 5px #000;
  transition: all 0.5s ease;
}

article > header > h1 {
  font-size: 1.675rem;
}

article > header > h2 {
  font-size: 1.875rem;
}

h3 {
  color: #ddd;
  font-size: 1.675rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-shadow: 0 2px 5px #000;
}

h3 > sup {
  font-size: 1rem;
  font-weight: normal;
}

.credits-display, .score-display  {
  color: #ddd;
  font-size: 2rem;
  line-height: 1.25;
  transition: all 0.2s ease;
  font-weight: 700;
  text-align: center;
  text-shadow: 0 2px 5px #000;
  letter-spacing: 1px;
}

.credits-label, .score-label {
  color: #ddd;
  font-size: 1.125rem;
  letter-spacing: 1px;
}

/**********/
/* Footer */
/**********/

footer {
  font-size: 1.125rem;
  position: relative;
  bottom: 0;
  color: #ccc;
  letter-spacing: 1px;
}

footer a {
  color: #ccc;
  font-weight: bold;
  transition: all 0.25s ease;
}

footer a:hover {
  color: #fff;
  transition: all 0.25s ease;
  text-decoration: none;
}

.new-tab-icon::after {
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900; 
  content: "\f35d";
  margin-left: 5px;
}

/*************/
/* Scrollbar */
/*************/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--deep-dark-grey);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--mid-grey);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--mid-light-grey);
}