:root {
  --scrollbar-size: 20px;
  --max-width: 768px;
  transition: all 0.25s ease;
  --y-from: 0;
  --y-to: 0;
  --item-size: 100px;
  --speed: 0.5;
  --overflow-state: hidden;
  --deep-grey: #333;
  --pink-dark: #a1216199;
  --pink: #e60073;
  --pink-light: #ff4da6;
}

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
  /* border: 1px solid #999; */
}

html {
  touch-action: manipulation;
  scroll-behavior: smooth;
  scrollbar-color: darkblue blue !important;
  scrollbar-width: var(--scrollbar-size) !important;
}

body {
  margin: 20px;
  padding: 0;
  box-sizing: border-box;
  background: var(--deep-grey);
  color: white;
  min-height: 100vh;
}

/**************/
/* Columns ****/
/**************/

main.wrapper {
  position: relative;
  height: var(--item-size);
  width: calc(var(--item-size) * 3 + 20px);
  background-color: white;
  overflow: var(--overflow-state);
  transform: scaleY(1);
  transition: all 1s ease-in-out;
}

main.wrapper.init {
  background-color: var(--deep-grey);
  transform: scaleX(0.1);
  transition: all 1s ease-in;
}

section.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

section.shadow {
  position: absolute;
  top: 0;
  left: -50%;
  width: 200%;
  height: 100%;
  box-shadow: 0 6px 15px 5px #333333aa inset, 0 12px 25px 10px #33333399 inset, 0 -8px 20px 5px #33333399 inset;
}

/***********/
/* Scoring */
/***********/

.scoring > header > h2 {
  font-size: 1.325rem;
  font-weight: 800;
  text-align: center;
}

.scrollable {
  /* max-height: 150px;
  overflow-y: scroll; */
  padding: 5px 15px;
  background: #555;
  box-shadow: 0 5px 15px 1px #00000066;
  border-radius: 7px;
}

table {
  border-collapse: collapse;
}

table td {
  padding: 10px 5px;
}

tbody > tr:not(:last-child) {
  border-bottom: 2px solid #333;
}

tbody > tr > td:first-child {
  font-size: 1.5rem;
  text-shadow: 0 2px 6px #000;
}

tbody > tr > td:last-child {
  font-size: 1.125rem;
  text-shadow: 0 2px 2px black;
  padding: 10px 5px 10px 10px;
}

/***********/
/* Main ****/
/***********/

main > p {
  margin: 0 0 20px 0;
}

main > p:last-child {
  margin: 0;
}

article > header > h1, 
article > header > h2 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 1px;
  margin: 10px 0;
  text-shadow: 0 5px 5px 5px #000;
  transition: all 0.5s ease;
}

article > header > h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.75rem;
  font-weight: 700;
  color: #ccc;
  letter-spacing: 1px;
  text-shadow: 0 5px 5px 5px #000;
}

/**********/
/* Footer */
/**********/

footer {
  font-size: 1.125rem;
  position: relative;
  bottom: 0;
  color: #ccc;
}

footer a {
  color: #ccc;
  font-weight: bold;
  transition: all 0.25s ease;
}

footer a:hover {
  color: #fff;
  transition: all 0.25s ease;
  text-decoration: none;
}

.new-tab-icon::after {
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900; 
  content: "\f35d";
  margin-left: 5px;
}

@media only screen and (max-width: 768px) {
  h2 {
    /* font-size: 1.75rem;
    transition: all 0.5s ease; */
  }
}

@media only screen and (max-width: 480px) {
  h2 {
    /* font-size: 1.5rem;
    transition: all 0.5s ease; */
  }
}
